@media only screen and (max-width: 420px) {
    body{
        overflow-x: hidden;
        
    }
    
    header nav{
        display: none;
    }

    .container_header{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container_main{
        display: block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    main .container_main img{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container_catalog{
        display: block;
    }

    .container_categories{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .container_plants{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sort{
        display: none;
    }

    .assortment{
        display: block;
        max-width: 100%;
        margin-left: 70px;
        margin-right: 70px;
    }

    .assortment_1{
        display: block;
        max-width: 100%;
        margin-left: 70px;
        margin-right: 70px;
    }

    .assortment_2{
        display: block;
        max-width: 100%;
        margin-left: 70px;
        margin-right: 70px;
    }

    .container_offer{
        display: block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    main .container_offer .succulents{
        display: block;
        max-width: 100%;
        margin-left: 13%;
        background: none;
    }
    
    main .container_offer .succulents .summer{
        margin-right: 17.5%;
    }

    main .container_offer .trends{
        display: block;
        max-width: 100%;
        margin-left: 15%;
        background: none;
    }

    main .container_offer .trends .Trends{
        margin-right: 17.5%;
    }

    main .container_blog_posts{
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .cards{
        display: block;
        margin-left: 16%;
    }

    .container_description{
        display: block;
        max-width: 100%;
    }

    .description{
        margin-left: 20%;
    }

    .description_1{
        margin-left: 20%;
    }

    .join{
        margin: 7.5%;
    }

    .container_gradient{
        display: block;
    }

    .container_gradient svg{
        opacity: 0;
    }

    .green_shop{
        position: absolute;
        left: 25%;
    }

    .address{
        position: absolute;
        left: 30%;
    }

    .contact{
        position: absolute;
        left: 20%;
    }

    .number{
        opacity: 0;
    }

    .footer_menu{
        display: block;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}
