@font-face {
    font-family: 'fontspring_demo_-_cera_proRg';
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-regular-webfont.svg#fontspring_demo_-_cera_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontspring_demo_-_cera_proBd';
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-bold-webfont.svg#fontspring_demo_-_cera_proBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot');
    src: url('../fonts/fontspring-demo-cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.woff2') format('woff2'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.woff') format('woff'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.ttf') format('truetype'),
        url('../fonts/fontspring-demo-cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_registration {
    max-width: 500px;
    margin: auto;
}

.cross_icon {
    float: right;
    padding: 13px 13px 0 0;
}

.title_form {
    padding: 52px 0 0 172px;
    font-size: 20px;
    font-weight: 500;
    color: #3D3D3D;
}

.span_title_form {
    font-size: 20px;
    font-weight: 500;
    color: #46A358;
}

.text_registration {
    padding: 40px 0 0 100px;
}

.input_form {
    margin: 14px 0 0 100px;
    padding: 12px 0 12px 14px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

.btn_registration {
    margin: 41px 0 0 100px;
    padding: 16px 118px 13px 119px;
    width: 316px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background: #46A358;
    border-radius: 5px;
    border: none;
}

.section_offer {
    margin: 36px 0 0 100px;
}

.text_offer {
    display: inline-block;
    color: #3D3D3D;
}

.broken_line {
    width: 102px;
    display: inline-block;
    border: 1px solid #EAEAEA;
    margin-bottom: 3px;
}

.socials {
    width: 316px;
    margin: 27px 0 0 100px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.socials_link {
    text-decoration: none;
    color: #727272;
}

.icon_google {
    padding: 10px 211px 10px 69px;
    position: absolute;
}

.icon_facebook {
    padding: 11px 216px 9px 64px;
    position: absolute;
}

.text_google {
    padding: 13px 68px 11px 98px;
}

.text_facebook {
    padding: 14px 63px 10px 88px;
}

.background_line {
    margin: 40px 0 0 0;
    padding-bottom: 10px;
    background: #46A358;
    border: none;
}

.container_header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;
}

.container_main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

header {
    margin-bottom: 12px;
    padding-top: 30px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    position: relative;
}

header .login {
    border-radius: 6px;
    background: #46A358;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header .login svg {
    margin-right: 4px;
}

header .login svg path {
    transition: 0.4s;
}

header .login:hover {
    background-color: white;
    color: #46A358;
}

header .login:hover svg path {
    stroke: #46A358;
}

header nav ul li a::before {
    content: "";
    display: block;
    background: #46A358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -30px;
    transition: 0.4s;
}

header nav li a:hover::before {
    width: 100%;
}

header nav li a:hover {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

header nav ul li .dropdown {
    display: block;
    list-style: none;
    position: absolute;
    top: 10px;
    left: -60px;
    display: none;
    padding-top: 40px;
}

header nav ul li .dropdown a::before {
    display: none;
}

header nav ul li .dropdown a {
    padding: 8px 14px;
    min-width: 188px;
    display: inline-block;
    background-color: #EDF6EE;
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: 0.3s;
    position: relative;
}

header nav ul li .dropdown a:hover {
    background-color: #1A712A;
    color: white;
}

header nav ul li {
    position: relative;
}

header nav li .dropdown li:last-of-type a::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: url(../img/arow.svg);
}

header nav ul li .dropdown a:hover::after {
    background-image: url(../img/arow_hover.svg);
    transform: rotate(180deg);
}

header nav ul li.drop:hover .dropdown {
    display: block;
}

header nav ul li .dropdown_1 {
    display: block;
    list-style: none;
    position: absolute;
    left: 189px;
    top: -108px;
    opacity: 0;
}

header nav li .dropdown_1 li:last-of-type a::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(1) a::after {
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(2) a::after {
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(3) a::after {
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(4) a::after {
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(5) a::after {
    background-image: none;
}

header nav li .dropdown_1 li:nth-last-of-type(6) a::after {
    background-image: none;
}

header nav ul li .dropdown_1 a:hover::after {
    background-image: none;
}

header nav ul li .drop_1:hover .dropdown_1 {
    opacity: 1;
}

article {
    max-width: 600px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.welcome {
    font-family: 'cera_promedium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 7px;
    margin-left: 3px;
}

.main_title {
    font-family: 'cera_problack', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 5px;
}

.planet {
    font-family: 'cera_problack', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

.order {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 3px;
    margin-bottom: 44px;
}

.shop_now {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: #FFFFFF;
    background: #46A358;
    border-radius: 6px;
    padding: 10px 26px;
    margin-left: 2px;
    transition: 0.5s;
}

main .shop_now:hover {
    background-color: white;
    color: #46A358;
}

.banner {
    margin-bottom: 26px;
}

.container_catalog {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.container_categories {
    width: 310px;
    background: #fbfbfb;
}

.categories {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 14px 0px 0px 18px;
}

main .container_categories ul li a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 37px 0px 0px 30px;
}

main .container_categories ul {
    padding-bottom: 377px;
}

main .container_categories ul a:hover {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

.container_plants {
    width: 840px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

main .container_plants nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

main .container_plants ul li a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: #3D3D3D;
    position: relative;
}

main .container_plants ul a::before {
    content: "";
    display: block;
    background: #46A358;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -7px;
    transition: 0.4s;
}

main .container_plants ul a:hover::before {
    width: 100%;
}

main .container_plants ul a:hover {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.default_sorting {
    padding-right: 5px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.assortment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

main .container_plants img {
    width: 250px;
    height: 310px;
    padding-bottom: 30px;
}

main .container_plants .assortment p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 6px;
}

main .container_plants .assortment span {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

.assortment_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

main .container_plants .assortment_1 p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 6px;
}

main .container_plants .assortment_1 span {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

.assortment_2 {
    display: flex;
    justify-content: space-between;
}

main .container_plants .assortment_2 p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 6px;
}

main .container_plants .assortment_2 span {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #46A358;
}

main .container_plants .assortment .barberton_daisy {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment .angel_wing_begonia {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment .african_violet {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_1 .beach_spider_lily {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_1 .blushing_bromeliad {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_1 .aluminum_plant {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_2 .birds_nest_fern {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_2 .broadleaf_lady_palm {
    background: #FBFBFB;
    position: relative;
}

main .container_plants .assortment_2 .chinese_evergreen {
    background: #FBFBFB;
    position: relative;
}

.container_offer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
}

.succulents {
    width: 586px;
    background: #fbfbfb;
}

.trends {
    width: 586px;
    background: #fbfbfb;
}

main .container_offer .succulents {
    display: flex;
    justify-content: space-between;
}

main .container_offer .succulents img {
    width: 285px;
    height: 290px;
}

main .container_offer .succulents h3 {
    margin: 89px 30px 9px 119px;
    font-family: 'cera_problack', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

main .container_offer .succulents p {
    margin: 0px 30px 25px 0px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

main .container_offer .succulents a {
    border-radius: 6px;
    width: 140px;
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    padding: 11px 47px 9px 28px;
    float: right;
}

main .container_offer .succulents a svg {
    position: absolute;
    padding: 2px 0px 0px 2px;
}

main .container_offer .trends {
    display: flex;
    justify-content: space-between;
}

main .container_offer .trends img {
    width: 285px;
    height: 290px;
}

main .container_offer .trends h3 {
    margin: 89px 30px 9px 116px;
    font-family: 'cera_problack', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

main .container_offer .trends p {
    margin: 0px 30px 25px 0px;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

main .container_offer .trends a {
    border-radius: 6px;
    width: 140px;
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background: #46a358;
    text-decoration: none;
    padding: 11px 47px 9px 28px;
    float: right;
}

main .container_offer .trends a svg {
    position: absolute;
    padding: 2px 0px 0px 2px;
}

main .container_offer svg path {
    transition: 0.4s;
}

main .container_offer a:hover {
    background-color: white;
    color: #46A358;
}

main .container_offer a:hover svg path {
    stroke: #46A358;
}

.find_btn {
    margin-right: 30px;
    transition: 0.5s;
}

.find_btn_1 {
    margin-right: 30px;
    transition: 0.5s;
}

main .container_blog_posts {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

main .container_blog_posts h2 {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

main .container_blog_posts p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

main .container_blog_posts img {
    width: 265px;
    height: 195px;
}

main .container_blog_posts .card_1 {
    width: 265px;
    margin-bottom: 9px;
}

main .container_blog_posts .card_2 {
    width: 265px;
    margin-bottom: 9px;
}

main .container_blog_posts .card_3 {
    width: 265px;
    margin-bottom: 9px;
}

main .container_blog_posts .card_4 {
    width: 265px;
    margin-bottom: 9px;
}

main .container_blog_posts .cards span {
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin: 0px 31px 4px 15px;
}

main .container_blog_posts .cards h3 {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin: 0px 53px 4px 15px;
}

main .container_blog_posts .cards p {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin: 0px 11px 9px 15px;
    text-align: left;
}

main .container_blog_posts .cards a {
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    margin: 0px 160px 13px 15px;
}

main .container_blog_posts .cards a svg {
    position: absolute;
    padding: 2px 0px 0px 3px;
}

main .container_blog_posts svg path {
    transition: 0.4s;
}

main .container_blog_posts a:hover {
    background-color: white;
    color: #46A358;
}

main .container_blog_posts a:hover svg path {
    stroke: #46A358;
}

main .container_blog_posts .card_1 {
    background: #fbfbfb;
}

main .container_blog_posts .card_2 {
    background: #fbfbfb;
}

main .container_blog_posts .card_3 {
    background: #fbfbfb;
}

main .container_blog_posts .card_4 {
    background: #fbfbfb;
}

.icons {
    display: flex;
    gap: 26px;
    position: absolute;
    bottom: 50px;
    left: 68px;
    opacity: 0;
}

main .container_plants .assortment .barberton_daisy:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment .angel_wing_begonia:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment .african_violet:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }

    .discount {
        opacity: 1;
    }

    .strikethrough {
        opacity: 1;
    }
}

main .container_plants .assortment_1 .beach_spider_lily:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment_1 .blushing_bromeliad:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment_1 .aluminum_plant:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment_2 .birds_nest_fern:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment_2 .broadleaf_lady_palm:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

main .container_plants .assortment_2 .chinese_evergreen:hover {
    border-top: solid #46a358 1px;

    .icons {
        opacity: 1;
    }
}

.discount {
    width: 80px;
    height: 28px;
    text-align: center;
    padding-top: 6px;
    border-radius: 1px;
    position: absolute;
    top: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: #46a358;
    opacity: 0;
}

.strikethrough {
    position: absolute;
    bottom: 0;
    left: 75px;
    color: #A5A5A5;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0%;
    opacity: 0;
}

main .container_plants svg:hover {
    stroke: #46a358;
}

.container_background {
    max-width: 1200px;
    margin: auto;
}

.container_description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    background: #FBFBFB;
}

.description {
    width: 225px;
}

.description_1 {
    width: 225px;
    position: relative;
}

.border_description {
    position: absolute;
    top: 125px;
    left: -94px;
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
}

.border_description_1 {
    position: absolute;
    top: 125px;
    left: 159px;
    width: 187px;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);
    transform: rotate(90deg);
}

footer .container_description img {
    margin-bottom: 15px;
    padding: 24px 0px 0px 25px;
}

.footer_header {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 9px;
    padding-left: 25px;
}

.footer_paragraph {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #727272;
    padding-left: 25px;
}

.join {
    width: 380px;
    margin-left: 62px;
}

.input_join {
    padding: 12px 0 12px 11px;
    width: 354px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    color: #ACACAC;
}

.footer_header_1 {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 25px;
    padding-top: 37px;
}

.btn_join {
    padding: 12px 25px 12px 26px;
    width: 85px;
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background: #46A358;
    border-radius: 0 6px 6px 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn_join:hover {
    background: rgb(235, 235, 242);
    background: linear-gradient(90deg, rgba(235, 235, 242, 1) 0%, rgba(234, 234, 242, 1) 35%, rgba(12, 13, 13, 1) 100%);
    color: #46A358;
}

.form_join {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    padding-right: 25px;
}

.footer_paragraph_1 {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #727272;
    padding-right: 25px;
}

.container_gradient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    margin-bottom: 33px;
}

footer .container_gradient a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #3D3D3D;
    text-decoration: none;
    margin: 25px 22px 19px 23px;
    position: relative;
}

footer .container_gradient a svg {
    position: absolute;
    left: -30px;
}

footer .container_gradient a:hover {
    font-family: 'cera_promedium', sans-serif;
    font-weight: 500;
}

address {
    display: block;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    background: #FBFBFB;
    padding-bottom: 30px;
    margin-bottom: 7px;
    border-bottom: solid rgba(70, 163, 88, 0.2);
}

footer .container_gradient .address svg {
    top: 10px;
}

footer .footer_menu ul li a {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #3D3D3D;
    text-decoration: none;
    margin-left: 15px;
}

.media {
    margin-right: 155px;
}

.footer_header_2 {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 9px;
    padding-left: 15px;
}

.footer_header_3 {
    font-family: 'fontspring_demo_-_cera_proBd', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 20px;
    margin-left: 15px;
}

footer .footer_menu .media a {
    text-decoration: none;
}

.social_media {
    margin-bottom: 33px;
    display: flex;
}

footer .footer_menu .social_media ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer .footer_menu ul li a:hover {
    color: #46A358;
}

footer .footer_menu .media svg:hover {
    fill: #46A358;
    stroke: #FFFFFF;
}

.the_end {
    font-family: 'fontspring_demo_-_cera_proRg', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #3D3D3D;
    text-align: center;
}

footer .footer_menu .media img {
    margin-left: 15px;
}

@keyframes btn_join{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
  }
  
  button {
      animation: btn_join 0.5s cubic-bezier(.0,.0,.0,0) 0s infinite alternate both;
      background: lightslategrey;
      border-radius: 2px;
      display: inline-block;
      position: relative;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }